body {
  font-family: $font-family-base;
  background-color: #fff;
  #logo {
    @extend .col-xs-12;
    padding: 10px;
    img {
      margin: 0 auto;
      display: block;
    }
  }
  #header {
    @extend .col-xs-12;
    border: {
      top: 4px solid #f1f0df;
      bottom: 4px solid #f1f0df;
    }
    padding: 10px;
    >div {
      @extend .col-xs-12;
      @extend .col-md-8;
    }
    >div:first-child, >div:last-child {
      @extend .col-xs-12;
      @extend .col-md-2;
    }
  }
  #content {
    .module {
      @extend .col-xs-12;
      @extend .col-md-6;
      border: 1px dotted #eee;
      >h2, >h2>a {
        color: white;
        font-family: serif;
        font-size: 22px;
        line-height: 33px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: #000;
        }
      }
      >div {
        >h3, >h3>a {
          font-size: 18px;
        }
        >h4 {
          font-size: 14px;
        }
        img {
          display: block;
          margin: 10px auto;
        }
      }
      &.red {
        h2:first-child {
          @include background-image(linear-gradient(#CB486C, #951525));
        }
      }
      &.yellow {
        h2:first-child {
          @include background-image(linear-gradient(#FDDC01, #CCA415));
        }
      }
      &.blue {
        h2:first-child {
          @include background-image(linear-gradient(#0759A2, #0A115E));
        }
      }
    }
  }
}